@import 'normalize';

body {
    margin: 0 auto;
    width: 70%;


    .animation {
        animation: change 3s infinite;
        transition: 0.3s;
    }

    @keyframes change {
        0% {
            stroke: rgb(175, 38, 38);
            fill: rgb(155, 206, 206);
        }

        50% {
            stroke: blueviolet;
            fill: orange;
        }

        75% {
            stroke: aqua;
            fill: pink;
        }
    }
}